/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(CC_font.ttf);
}

/* Gradient Background */
body {
    font-family: 'myFont', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #57b9ff 0%, #0000ff 110%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Centering content */
.container {
    text-align: center; /* This centers text and images */
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Image style */
.container img {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image */
}

/* Styling the heading */
.title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #fffcfc;
}

/* Description text styling */
.description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Button styling with hover effect */
.btn {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 1px;
    margin-right: 10px;
    padding: 10px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    transform: scale(1.1);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }
}
